<!DOCTYPE html>
<html lang="en" data-ng-app="bbApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AngularJS Brownbag</title>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style type="text/css">
	  .examples {
	  	margin-bottom: 10px;	
	  }
  	.results {
  		width: 100%;
  		height: 500px;
  		border: none;
  	}
  	.page-header img {
  		height: 50px;
  	}
  	.links {
  		margin-left: 20px;
  	}
  </style>
</head>
<body data-ng-controller="BbMain">

	<div class="container">

		<div class="page-header">
			<h1>AngularJS <small>Brownbag</small><img src="angularjs_logo.png" class="pull-right" /></h1>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div data-ng-repeat="example in examples" class="examples">
					<a href="javascript:void(0);" data-ng-click="showExample(example);" data-ng-bind="example.name"></a>
				</div>
				<div class="examples">
					<a href="http://nvcc-stage.mcg.local/" target="_blank">myCareerGateway</a>
				</div>
				<div>
					<p><hr/></p>
				</div>
				<div class="examples">
					<a href="http://www.slideshare.net/ccasad/intro-to-angularjs-brown-bag" target="_blank">Slides</a>
				</div>
				<div class="examples">
					<a href="https://github.com/ccasad/angularjs-brownbag" target="_blank">Github Repo</a>
				</div>
			</div>
			<div class="col-md-9">
				<div data-ng-if="!iframeSrc">
					<p>
					There are tons of examples on the web to work from as well as extensive documentation. The following are a list of useful resources:
					</p>
					<dl class="links">
						<dd data-ng-repeat="link in links">
							<a data-ng-href="{{link.url}}" data-ng-bind="link.text" target="_blank"></a>
						</dd>
					</dl>
				</div>
				<iframe data-ng-src="{{iframeSrc}}" class="results" data-ng-if="iframeSrc"></iframe>
			</div>
		</div>
	</div>
	
</body>
</html>

<script type="text/javascript">
var bbApp = angular.module('bbApp', []);

bbApp.controller('BbMain', ['$scope',
  function ($scope) {
  	$scope.iframeSrc = '';

		$scope.examples = [
			{"id": 1, "name": "Top", "url": ""},
			{"id": 2, "name": "Hello World!", "url": "helloworld.html"},
			{"id": 3, "name": "Controllers", "url": "controllers.html"},
			{"id": 4, "name": "Directives", "url": "directives.html"},
			{"id": 5, "name": "Filters", "url": "filters.html"},
			{"id": 6, "name": "Ajax", "url": "ajax.html"},
			{"id": 7, "name": "Todo App", "url": "todo.html"}
		];

		$scope.links = [
			{"id": 1, "text": "AngularJS API Docs", "url": "https://docs.angularjs.org/api"},
			{"id": 2, "text": "Why AngularJS?", "url": "http://jeffwhelpley.com/angularjs/"},
			{"id": 3, "text": "Ultimate guide to learning AngularJS in one day", "url": "http://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/"},
			{"id": 4, "text": "Yeoman", "url": "http://yeoman.io/"},
			{"id": 5, "text": "Kickstart Your AngularJS Development with Yeoman, Grunt and Bower", "url": "http://www.sitepoint.com/kickstart-your-angularjs-development-with-yeoman-grunt-and-bower/"},
			{"id": 6, "text": "UI-Router in angular-client-side-auth", "url": "http://www.frederiknakstad.com/2014/02/09/ui-router-in-angular-client-side-auth/"},
			{"id": 7, "text": "AngularJS Form Validation", "url": "http://scotch.io/tutorials/javascript/angularjs-form-validation"},
			{"id": 8, "text": "AngularUI Router as the infrastructure of a large scale app", "url": "http://lgorithms.blogspot.com/2013/07/angularui-router-as-infrastructure-of.html"},
			{"id": 9, "text": "A Practical Guide to AngularJS Directives", "url": "http://www.sitepoint.com/practical-guide-angularjs-directives/"},
			{"id": 10, "text": "Build custom directives with AngularJS", "url": "http://www.ng-newsletter.com/posts/directives.html"},
			{"id": 11, "text": "AngularJS Best Practices", "url": "http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-1-of-3/"},
			{"id": 12, "text": "AngularJS Blog", "url": "http://blog.angularjs.org/"},
			{"id": 13, "text": "Learn to build an application using AngularJS", "url": "http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro"},
			{"id": 14, "text": "AngularJS Egghead Videos", "url": "https://egghead.io/technologies/angularjs"},
			{"id": 15, "text": "AngularJS in 60ish Minutes (eBook)", "url": "http://weblogs.asp.net/dwahlin/archive/2013/07/30/angularjs-in-60-ish-minutes-the-ebook.aspx"},
			{"id": 16, "text": "AngularJS Random Tricks", "url": "http://blog.tomaka17.com/2012/12/random-tricks-when-using-angularjs/"},
			{"id": 17, "text": "AngularJS Tips and Tricks", "url": "http://deansofer.com/posts/view/14/AngularJs-Tips-and-Tricks-UPDATED"}
		];

		$scope.showExample = function(example) {
			$scope.iframeSrc = false;

			if (example && example.url) {
				var random = new Date().getTime();
				$scope.iframeSrc = example.url + '?' + random;
			}
		}
  }
]);

</script>